$buttonSize: 60px;
$buttonActiveBgColor: rgba(255, 255, 255, 0.5);
$buttonBgColor: transparentize($buttonActiveBgColor, 0.2);

$indexStage: 1;
$indexControl: 10;
$indexMarquee: 11;
$indexNotify: 100;
