@import './vars';

body,
html {
	position: relative;
	border: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: black;
}

* {
	user-select: none;
}

.btn {
	position: absolute;
	outline: none;
    background-color: $buttonBgColor;
	border: 5px solid $buttonBgColor;
	z-index: 1;

	&.active {
		border-color: $buttonActiveBgColor;
		color: $buttonActiveBgColor;
		i {			
			color: $buttonActiveBgColor;
		}
	}
}

.btn-action {
	width: $buttonSize;
	height: $buttonSize;
	border-radius: 50%;
	font-size: 18px;
	font-weight: bold;
	color: $buttonBgColor;
}

#shoot {
	bottom: 20px;
	right: 20px;
	width: 80px;
	height: 80px;
	font-size: 28px;
}

#jump {
	bottom: 20px;
	right: 126px;
}

#skill {
	bottom: 94px;
	right: 96px;
}

#ult {
	bottom: 132px;
	right: 20px;
}

.btn-direct {
    width: 65px;
    height: 80px;
	
	i {
		color: $buttonBgColor;
		font-size: 18px;
	}
}

#move_left {
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	bottom: 40px;
	left: 20px;
}

#move_right {
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	bottom: 40px;
	left: 100px;
}